doctype html5
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Komi.css
  // inject:css
  // endinject
body
  header
    h1 Komi.css
    nav
      ul
        li
          a(href="#colors") Colors
        li
          a(href="#typography") Typography
        li
          a(href="#tables") Tables
        li
          a(href="#buttons") Buttons
        li
          a(href="#forms") Forms
        li
          a(href="#media") Media
  main
    article#colors
      h2.subtitle
        | Colors
        a(href="#colors") #
      .row
        .color.p1
          .color--title Tint 2
        .color.p2
          .color--title Tint 1
        .color.p3
          .color--title Primary
        .color.p4
          .color--title Shade 1
        .color.p5
          .color--title Shade 2
      .row
        .color.g1
          .color--title Tint 2
        .color.g2
          .color--title Tint 1
        .color.g3
          .color--title Mono
        .color.g4
          .color--title Shade 1
        .color.g5
          .color--title Shade 2
      .row
        .color.e1
          .color--title Tint 2
        .color.e2
          .color--title Tint 1
        .color.e3
          .color--title Error
        .color.e4
          .color--title Shade 1
        .color.e5
          .color--title Shade 2
      .row
        .color.w1
          .color--title Tint 2
        .color.w2
          .color--title Tint 1
        .color.w3
          .color--title Warning
        .color.w4
          .color--title Shade 1
        .color.w5
          .color--title Shade 2
      .row
        .color.s1
          .color--title Tint 2
        .color.s2
          .color--title Tint 1
        .color.s3
          .color--title Success
        .color.s4
          .color--title Shade 1
        .color.s5
          .color--title Shade 2
    article#typography
      h2.subtitle
        | Typography
        a(href="#typography") #
      section
        h3 Headers
        h1 Header 1
        h2 Header 2
        h3 Header 3
        h4 Header 4
        h5 Header 5
        h6 Header 6
        pre
          b Example:
          code
            | &#60;h1&#x3E;Header 1&#60;/h1&#x3E;
            | &#60;h2&#x3E;Header 2&#60;/h2&#x3E;
            | &#60;h3&#x3E;Header 3&#60;/h3&#x3E;
            | &#60;h4&#x3E;Header 4&#60;/h4&#x3E;
            | &#60;h5&#x3E;Header 5&#60;/h5&#x3E;
            | &#60;h6&#x3E;Header 6&#60;/h6&#x3E;
      section
        h3 Paragraphs
        p
          | Yuccie umami single-origin coffee, tote bag woke readymade subway
          | tile.  Pabst four dollar toast gastropub tbh portland. Hammock cray
          | lumbersexual YOLO meh edison bulb af cardigan actually flannel.
        p
          | Activated charcoal.  Hashtag prism salvia, tacos vinyl tbh shabby chic
          | poke wolf narwhal PBR&B.  Kinfolk typewriter tacos, taiyaki literally
          | plaid franzen fam 8-bit fingerstache swag tofu ethical.
        pre
          b Example:
          code
            | &#60;p&#x3E;Yuccie umami single-origin coffee, tote...&#60;/p&#x3E;
            | &#60;p&#x3E;Activated charcoal Hashtag prism salvia...&#60;/p&#x3E;
      section
        h3 Aside
        aside
          | This is side content.
        p
          | Yuccie umami single-origin coffee, tote bag woke readymade subway
          | tile.  Pabst four dollar toast gastropub tbh portland. Hammock cray
          | lumbersexual YOLO meh edison bulb af cardigan actually flannel.
        p
          | Activated charcoal.  Hashtag prism salvia, tacos vinyl tbh shabby chic
          | poke wolf narwhal PBR&B.  Kinfolk typewriter tacos, taiyaki literally
          | plaid franzen fam 8-bit fingerstache swag tofu ethical.
        pre
          b Example:
          code
            | &#60;p&#x3E;Yuccie umami single-origin coffee, tote...&#60;/p&#x3E;
            | &#60;p&#x3E;Activated charcoal Hashtag prism salvia...&#60;/p&#x3E;
      section
        h3 Text elements
        .row.spc-btwn
          span
            a(href="#") Links
            |
            |
            code a
          span
            cite Citation
            |
            |
            code cite
          span
            code Code tag
            |
            |
            code code
          span
            kbd Ctrl + S
            |
            |
            code kbd
          span
            mark Highlighted
            |
            |
            code mark
          span
            small Small
            |
            |
            code small
      section
        h3 Quotes
        blockquote
          p Someone said this some time some where, maybe.
          cite — Some guy
        pre
          b Example:
          code
            | &#60;blockquote&#x3E;
            | &#60;p&#x3E;Someone said this some time some where, maybe.&#60;/p&#x3E;
            | &#60;cite&#x3E;— Some guy&#60;/cite&#x3E;
            | &#60;/blockquote&#x3E;
      section
        h3 Code blocks
        pre
          code
            | const t = () => {
            |   return 256 * new Date();
            | }
        pre
          b Example:
          code
            | &#60;pre&#x3E;
            |   &#60;code&#x3E;
            |const t = () => {
            |  return 256 * new Date();
            |}
            |   &#60;/code&#x3E;
            | &#60;/pre&#x3E;
    article#tables
      h2.subtitle
        | Tables
        a(href="#tables") #
      section
        table
          thead
            tr
              th Header 1
              th Header 2
              th Header 3
              th Header 4
          tbody
            tr
              td Content 1-1
              td Content 1-2
              td Content 1-3
              td Content 1-4
            tr
              td Content 2-1
              td Content 2-2
              td Content 2-3
              td Content 2-4
            tr
              td Content 3-1
              td Content 3-2
              td Content 3-3
              td Content 3-4
          tfoot
            tr
              td Footer 1
              td Footer 2
              td Footer 3
              td Footer 4
        pre
          b Example:
          code
            | &#60;table&#x3E;
            |   &#60;thead&#x3E;
            |     &#60;tr&#x3E;
            |       &#60;th&#x3E;Header 1&#60;/th&#x3E;
            |       &#60;th&#x3E;Header 2&#60;/th&#x3E;
            |       &#60;th&#x3E;Header 3&#60;/th&#x3E;
            |       &#60;th&#x3E;Header 4&#60;/th&#x3E;
            |     &#60;/tr&#x3E;
            |   &#60;/thead&#x3E;
            |   &#60;tbody&#x3E;
            |     &#60;tr&#x3E;
            |       &#60;td&#x3E;Content 1&#60;/td&#x3E;
            |       &#60;td&#x3E;Content 2&#60;/td&#x3E;
            |       &#60;td&#x3E;Content 3&#60;/td&#x3E;
            |       &#60;td&#x3E;Content 4&#60;/td&#x3E;
            |     &#60;/tr&#x3E;
            |   &#60;/tbody&#x3E;
            |   &#60;tfoot&#x3E;
            |     &#60;tr&#x3E;
            |       &#60;td&#x3E;Footer 1&#60;/td&#x3E;
            |       &#60;td&#x3E;Footer 2&#60;/td&#x3E;
            |       &#60;td&#x3E;Footer 3&#60;/td&#x3E;
            |       &#60;td&#x3E;Footer 4&#60;/td&#x3E;
            |     &#60;/tr&#x3E;
            |   &#60;/tfoot&#x3E;
            | &#60;/table&#x3E;
    article#buttons
      h2.subtitle
        | Buttons
        a(href="#buttons") #
      section
        .row.row--around
          button I'm a button!
        pre
          b Example:
          code
            | &#60;button&#x3E;I'm a button!&#60;/button&#x3E;
    article#forms
      h2.subtitle
        | Forms
        a(href="#forms") #
      section
        form
          legend Input types
          label Text input:
          input(type="text")
          pre
            b Example:
            code
              | &#60;input type="text"&#x3E;
          label Button input:
          input(type="button" value="Button")
          pre
            b Example:
            code
              | &#60;input type="button" value="Button"&#x3E;
          label Email input:
          input(type="email")
          pre
            b Example:
            code
              | &#60;input type="email"&#x3E;
          label Submit input:
          input(type="submit")
          pre
            b Example:
            code
              | &#60;input type="submit"&#x3E;
          legend Other tags
          label Select:
          select
            option Volvo
            option Saab
            option Fiat
            option Audi
          pre
            b Example:
            code
              | &#60;select&#x3E;
              |   &#60;option&#x3E;Volvo&#60;/option&#x3E;
              |   &#60;option&#x3E;Saab&#60;/option&#x3E;
              |   &#60;option&#x3E;Fiat&#60;/option&#x3E;
              |   &#60;option&#x3E;Audi&#60;/option&#x3E;
              | &#60;/select&#x3E;
          label Select multiple:
          select(size="3" multiple)
            option Volvo
            option Saab
            option Fiat
            option Audi
          pre
            b Example:
            code
              | &#60;select size="3" multiple&#x3E;
              |   &#60;option&#x3E;Volvo&#60;/option&#x3E;
              |   &#60;option&#x3E;Saab&#60;/option&#x3E;
              |   &#60;option&#x3E;Fiat&#60;/option&#x3E;
              |   &#60;option&#x3E;Audi&#60;/option&#x3E;
              | &#60;/select&#x3E;
          label Textarea:
          textarea(rows="10")
          pre
            b Example:
            code
              | &#60;textarea rows="10"&#x3E;
              | &#60;/textarea&#x3E;
          label Button:
          button Button
          pre
            b Example:
            code
              | &#60;button&#x3E;Button&#60;/button&#x3E;
          fieldset
            legend Fieldset
            label Name:
            input
          pre
            b Example:
            code
              | &#60;fieldset&#x3E;
              |   &#60;legend&#x3E;Name:&#60;/legend&#x3E;
              |   &#60;label&#x3E;Name:&#60;/label&#x3E;
              |   &#60;input&#x3E;
              | &#60;/fieldset&#x3E;
    article#media
      h2.subtitle
        | Media
        a(href="#media") #
      section
        h3 Figures
        figure
          img(src="https://source.unsplash.com/random/200x200")
          figcaption
            | A random image from 
            a(href="https://unsplash.com/") Unsplash
        pre
          b Example:
          code
            | &#60;figure&#x3E;
            |   &#60;img src="https://source.unsplash.com/random/200x200"&#x3E;
            |   &#60;figcaption&#x3E;
            |     A random image from &#60;a href="https://unsplash.com/"&#x3E;Unsplash&#60;/a&#x3E;
            |   &#60;/figcaption&#x3E;
            | &#60;/figure&#x3E;
      section
        h3 Images
        img(src="https://source.unsplash.com/random/600x200")
        pre
          b Example:
          code
            | &#60;img src="https://source.unsplash.com/random/600x200"&#x3E;
  footer
    .row.spc-btwn
      h3 Komi.css
      a(href="https://github.com/marea/komi.css") Github
