doctype html5
head
  meta(charset="utf-8")
  title Komi.css
  // inject:css
  // endinject
body
  header
    h1 Komi.css
    nav
      ul
        li
          a(href="#colors") Colors
        li
          a(href="#typography") Typography
        li
          a(href="#tables") Tables
        li
          a(href="#buttons") Buttons
        li
          a(href="#forms") Forms
        li
          a(href="#media") Media
  main
    article#colors
      h2.subtitle
        | Colors
        a(href="#colors") #
      .row
        .color.p1
          .color--title Tint 2
        .color.p2
          .color--title Tint 1
        .color.p3
          .color--title Primary
        .color.p4
          .color--title Shade 1
        .color.p5
          .color--title Shade 2
      .row
        .color.g1
          .color--title Tint 2
        .color.g2
          .color--title Tint 1
        .color.g3
          .color--title Mono
        .color.g4
          .color--title Shade 1
        .color.g5
          .color--title Shade 2
    article#typography
      h2.subtitle
        | Typography
        a(href="#typography") #
      section
        h3 Headers
        h1 Header 1
        h2 Header 2
        h3 Header 3
        h4 Header 4
        h5 Header 5
        h6 Header 6
        pre
          b Example:
          code
            | &#60;h1&#x3E;Header 1&#60;/h1&#x3E;
            | &#60;h2&#x3E;Header 2&#60;/h2&#x3E;
            | &#60;h3&#x3E;Header 3&#60;/h3&#x3E;
            | &#60;h4&#x3E;Header 4&#60;/h4&#x3E;
            | &#60;h5&#x3E;Header 5&#60;/h5&#x3E;
            | &#60;h6&#x3E;Header 6&#60;/h6&#x3E;
      section
        h3 Paragraphs
        p
          | Yuccie umami single-origin coffee, tote bag woke readymade subway
          | tile.  Pabst four dollar toast gastropub tbh portland. Hammock cray
          | lumbersexual YOLO meh edison bulb af cardigan actually flannel.
        p
          | Activated charcoal.  Hashtag prism salvia, tacos vinyl tbh shabby chic
          | poke wolf narwhal PBR&B.  Kinfolk typewriter tacos, taiyaki literally
          | plaid franzen fam 8-bit fingerstache swag tofu ethical.
        pre
          b Example:
          code
            | &#60;p&#x3E;Yuccie umami single-origin coffee, tote...&#60;/p&#x3E;
            | &#60;p&#x3E;Activated charcoal Hashtag prism salvia...&#60;/p&#x3E;
      section
        h3 Text elements
        .row.spc-btwn
          span
            a(href="#") Links
            |
            |
            code a
          span
            cite Citation
            |
            |
            code cite
          span
            code Code tag
            |
            |
            code code
          span
            kbd Ctrl + S
            |
            |
            code kbd
          span
            mark Highlighted
            |
            |
            code mark
          span
            small Small
            |
            |
            code small
      section
        h3 Quotes
        blockquote
          p Someone said this some time some where, maybe.
          cite — Some guy
        pre
          b Example:
          code
            | &#60;blockquote&#x3E;
            | &#60;p&#x3E;Someone said this some time some where, maybe.&#60;/p&#x3E;
            | &#60;cite&#x3E;— Some guy&#60;/cite&#x3E;
            | &#60;/blockquote&#x3E;
      section
        h3 Code blocks
        pre
          code
            | const t = () => {
            |   return 256 * new Date();
            | }
        pre
          b Example:
          code
            | &#60;pre&#x3E;
            |   &#60;code&#x3E;
            |const t = () => {
            |  return 256 * new Date();
            |}
            |   &#60;/code&#x3E;
            | &#60;/pre&#x3E;
    article#tables
      h2.subtitle
        | Tables
        a(href="#tables") #
            | &#60;/pre&#x3E;
      table
        thead
          tr
            th Header 1
            th Header 2
            th Header 3
            th Header 4
        tbody
          tr
            td Content 1-1
            td Content 1-2
            td Content 1-3
            td Content 1-4
          tr
            td Content 2-1
            td Content 2-2
            td Content 2-3
            td Content 2-4
          tr
            td Content 3-1
            td Content 3-2
            td Content 3-3
            td Content 3-4
        tfoot
          tr
            td Footer 1
            td Footer 2
            td Footer 3
            td Footer 4
      pre
        b Example:
        code
          | &#60;table&#x3E;
          |   &#60;thead&#x3E;
          |     &#60;tr&#x3E;
          |       &#60;th&#x3E;Header 1&#60;/th&#x3E;
          |       &#60;th&#x3E;Header 2&#60;/th&#x3E;
          |       &#60;th&#x3E;Header 3&#60;/th&#x3E;
          |       &#60;th&#x3E;Header 4&#60;/th&#x3E;
          |     &#60;/tr&#x3E;
          |   &#60;/thead&#x3E;
          |   &#60;tbody&#x3E;
          |     &#60;tr&#x3E;
          |       &#60;td&#x3E;Content 1&#60;/td&#x3E;
          |       &#60;td&#x3E;Content 2&#60;/td&#x3E;
          |       &#60;td&#x3E;Content 3&#60;/td&#x3E;
          |       &#60;td&#x3E;Content 4&#60;/td&#x3E;
          |     &#60;/tr&#x3E;
          |   &#60;/tbody&#x3E;
          |   &#60;tfoot&#x3E;
          |     &#60;tr&#x3E;
          |       &#60;td&#x3E;Footer 1&#60;/td&#x3E;
          |       &#60;td&#x3E;Footer 2&#60;/td&#x3E;
          |       &#60;td&#x3E;Footer 3&#60;/td&#x3E;
          |       &#60;td&#x3E;Footer 4&#60;/td&#x3E;
          |     &#60;/tr&#x3E;
          |   &#60;/tfoot&#x3E;
          | &#60;/table&#x3E;
