@import '../../../src/variables';

.row {
  display: flex;
  flex-flow: column;
  &--center {
    justify-content: center;
  }
  &--around {
    justify-content: space-around;
  }
}

.color {
  height: 75px;
  width: 100%;
  margin: 0;
  display: inline-block;
  padding: 0.2em;
  flex-grow: 1;
  &--title {
    font-size: 1em;
  }
}

$colors: (
  'p1': [ --p-100,
  --g-500,
  ],
  'p2': [ --p-200,
  --g-500,
  ],
  'p3': [ --p-300,
  --g-500,
  ],
  'p4': [ --p-400,
  --g-100,
  ],
  'p5': [ --p-500,
  --g-100,
  ],
  'g1': [ --g-100,
  --g-500,
  ],
  'g2': [ --g-200,
  --g-500,
  ],
  'g3': [ --g-300,
  --g-100,
  ],
  'g4': [ --g-400,
  --g-100,
  ],
  'g5': [ --g-500,
  --g-100,
  ],
  'e1': [--e-100,
  --g-500],
  'e2': [--e-200,
  --g-500],
  'e3': [--e-300,
  --g-500],
  'e4': [--e-400,
  --g-100],
  'e5': [--e-500,
  --g-100],
  'w1': [--w-100,
  --g-500],
  'w2': [--w-200,
  --g-500],
  'w3': [--w-300,
  --g-500],
  'w4': [--w-400,
  --g-100],
  'w5': [--w-500,
  --g-100],
  's1': [--s-100,
  --g-500],
  's2': [--s-200,
  --g-500],
  's3': [--s-300,
  --g-500],
  's4': [--s-400,
  --g-100],
  's5': [--s-500,
  --g-100],
);

@each $name, $color in $colors {
  .#{$name} {
    background-color: var(nth($color, 1));
    color: var(nth($color, 2));
  }
}

.subtitle {
  padding-bottom: 0.2em;
  border-bottom: 2px solid var(--p-300);
  a {
    display: none;
    color: var(--p-200);
    margin-left: 0.2em;
    text-decoration: none;
  }
  &:hover {
    a {
      display: inline;
    }
  }
}

.spc-btwn {
  justify-content: space-between;
}

footer {
  h3 {
    margin: 0;
  }
}

@media only screen and (min-width: 600px) {
  .row {
    flex-flow: row;
  }
}
