*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: $html-font;
  font-size: $html-font-size;
  scroll-behavior: smooth;
  line-height: $html-line-height;
}

body {
  font-size: $font-size;
  background-color: $g-100;
  color: $g-500;
}

hr {
  margin: 0.2em 0;
  border: none;
  border-bottom: 1px solid $p-300;
}
