button {
  border: none;
  background: $p-400;
  color: $g-100;
  padding: 0.5em;
  border-radius: 0.2em;
  cursor: pointer;
  &:hover {
    background: $p-500;
  }
  &:active {
    background: $p-300;
  }
}
