button {
  border: none;
  background: var(--p-400);
  color: var(--g-100);
  padding: 0.5em;
  border-radius: 0.2em;
  cursor: pointer;
  &:hover {
    background: var(--p-500);
  }
  &:active {
    background: var(--p-300);
  }
}
