header {
  padding: 0.8em;
  color: $p-400;
  background-color: $g-100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  h1 {
    font-weight: 100;
    font-size: 1.4em;
    margin: 0;
  }
  nav {
    ul {
      list-style: none;
      margin: 0;
      display: flex;
      li {
        & + li {
          margin-left: 1em;
        }
      }
    }
  }
}

main {
  width: 60%;
  margin: 0 auto;
}

article {
  scroll-margin-top: 4em;
}
