table {
  width: 100%;
  border-collapse: collapse;
  thead {
    background-color: var(--p-400);
    color: var(--g-100);
    th {
      padding: 0.5em;
    }
  }
  tbody {
    tr {
      background-color: var(--g-100);
      &:nth-of-type(odd) {
        background-color: var(--p-100);
      }
      td {
        padding: 0.5em;
        & + td {
          border-left: 1px solid var(--g-300);
        }
      }
    }
  }
  tfoot {
    background-color: var(--p-300);
    color: var(--p-500);
    td {
      padding: 0.5em;
      text-align: center;
    }
  }
}
