// Colors
$p-100: #f58eb9;
$p-200: #a40e4c;
$p-300: #5e082c;

$g-100: #fef5ec;
$g-200: grey;
$g-300: black;

// Fonts
$html-font: sans-serif !default;
$html-font-size: 62.5% !default;
$html-line-height: 1.5 !default;
$font-size: 1.6rem;
