// Colors
$p-100: #fbd7dd;
$p-200: #f6b1bc;
$p-300: #f08999;
$p-400: #cc5669;
$p-500: #a92f43;

$g-100: #fef5ec;
$g-200: grey;
$g-300: black;

// Fonts
$html-font: sans-serif !default;
$html-font-size: 62.5% !default;
$html-line-height: 1.5 !default;
$font-size: 1.6rem;
