// Colors
$p-100: #fbd7dd;
$p-200: #f6b1bc;
$p-300: #f08999;
$p-400: #cc5669;
$p-500: #a92f43;

$g-100: #fef5ec; // Used for page background
$g-200: #cab5b3;
$g-300: #957479;
$g-400: #5e4b4e;
$g-500: #262223; // User for text

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Quicksand:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');
$html-font: Roboto, sans-serif !default;
$html-font-size: 62.5% !default;
$html-line-height: 1.5 !default;
$font-size: 1.8rem;
$header-font: Quicksand, sans-serif;
$monospace-font: Anonymous Pro, monospace;
